#set( $layout ="layout.vm")
#set($title="帮助")
<div>
  <h4>使用帮助</h4>
  <hr style="margin-top:0px" />
  ## <li>用户ids：<b>$session.getAttribute('userIds')</b></li>
  <br/>
  <li><b><code>客户管理模块</code></b></li>
  <br/>
  <li><b><code>商品管理模块</code></b></li>
</div>
