#macro(alt $a $b)#if("$!a"!="")$a#{else}$b#end#end
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="#springUrl('/static/css/wms.ico')" />
    <meta name="author" content="">

    <title>#alt($title "") - AS</title>
    
    <link href="#springUrl('/static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/semantic1.12.2/dist/semantic.min.css')" rel="stylesheet" />
    <link href="#springUrl('/static/css/easy-ui/themes/default/easyui.css')" rel="stylesheet" />
    <link href="#springUrl('/static/css/easy-ui/themes/icon.css')" rel="stylesheet" />
    <link href="#springUrl('/static/css/layout.css')" rel="stylesheet" />
    
    <link href="#springUrl('/static/datepicker-1.4.0-dist/css/bootstrap-datepicker3.min.css')" rel="stylesheet" />
   

    <script src="#springUrl('/static/js/jquery-2.1.3.min.js')"></script>
    
    <script src="#springUrl('/static/css/bootstrap-3.3.4-dist/js/bootstrap.min.js')"></script>
    <script src="#springUrl('/static/js/jquery.bootstrap.js')"></script>
    <script src="#springUrl('/static/css/easy-ui/jquery.easyui.min.js')"></script>
    <script src="#springUrl('/static/js/jquery.validate.js')"></script>
    <script src="#springUrl('/static/js/layout.js')"></script>
   <!-- <script src="#springUrl('/static/semantic1.12.2/dist/semantic.min.js')"></script> -->
    <script src="#springUrl('/static/datepicker-1.4.0-dist/js/bootstrap-datepicker.min.js')"></script>
    <script src="#springUrl('/static/datepicker-1.4.0-dist/locales/bootstrap-datepicker.zh-CN.min.js')"></script>

  </head>

  <body role="document" class="scrolling">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="containerwms container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#springUrl('/')">
                <i class="glyphicon glyphicon-home"></i> 财务系统
              </a>
            </div>
            <div class="navbar-collapse collapse bs-navbar-collapse">
              <ul class="nav navbar-nav navbar-left">
                <li #if($title == '信息维护') class='active' #end>
                  <a href="#springUrl('/config')">信息维护</a>
                </li>
                <li #if($title == '应收账单') class='active' #end>
                  <a href="#springUrl('/ledgerReceivable')">应收账单</a>
                </li>
                <li #if($title == '进项增票登记') class='active' #end>
                  <a href="#springUrl('/invoiceIncome')">进项增票登记</a>
                </li>
                <li #if($title == '应收账款') class='active' #end>
                  <a href="#springUrl('/debtor')">应收账款</a>
                </li>
                <li #if($title == '收款信息') class='active' #end>
                  <a href="#springUrl('/')">收款信息</a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">其它 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#" target="">采购入库 <i class="glyphicon glyphicon-shopping-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" target="">客户管理 <i class="glyphicon glyphicon-user"></i></a>
                    </li>
                    <li>
                      <a href="#" target="">仓库管理 <i class="glyphicon glyphicon-object-align-right"></i></a>
                    </li>
                    <li>
                      <a href="#" target="">销售出货 <i class="glyphicon glyphicon-send"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">$session.getAttribute('user').truename</a></li>
                <li><a href="#springUrl('/logout')">退出</a></li>
              </ul>
            </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="containerwms container" style="margin-top:65px;" role="main">
      $screen_content

        <footer>
          <hr/>
          <p><b>© </b>Company 2015</p>
        </footer>
    </div>
  </body>
</html>
