#set($title='operation')
#set( $layout = "layout.vm" )
<link href="#springUrl('/static/css/account/attribute.css')"  rel="stylesheet">
<script src="#springUrl('/static/js/account/attribute.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>
<div class="">
    #parse("layout-title.vm")
    <form id="accountSearchId" action="#springUrl('/operation/search')" method="post">

    <div class="filter-bar-sm" >
      <div class="filter-title">日期范围:</div>
      <div class="filter-content">
          <input class="easyui-datebox" style="width:100px;" data-options="formatter:myformatter,parser:myparser"
             value="${operationLogForm.getStartDate()}" name="startDate" id="startDate"></input>
      </div>
      <div class="filter-content">--</div>
      <div class="filter-content">
          <input class="easyui-datebox" style="width:100px;" data-options="formatter:myformatter,parser:myparser"
             value="${operationLogForm.getEndDate()}" name="endDate" id="endDate"></input>
      </div>

    <div class="filter-title">操作对象:</div>
      <div class="filter-content">
     <select class="easyui-combobox" id="objectType" name="objectType" panelHeight="auto">
       #set($items=[-1,1,2,3,4])
       #foreach ($item in $items)
       <option #if(${operationLogForm.getObjectType()}==$item) selected="selected" #end value="$item">${objectTypeMap.get("$item")}</option>
       #end
     </select>
    </div>

    <div class="filter-title">操作类型:</div>
      <div class="filter-content">
     <select class="easyui-combobox" id="operation" name="operation" panelHeight="auto">
       #set($items=[-1,1,2,3,4])
       #foreach ($item in $items)
       <option #if(${operationLogForm.getOperation()}==$item) selected="selected" #end value="$item">${operationMap.get("$item")}</option>
       #end
     </select>
    </div>

    <div class="filter-title">操作人:</div>
      <div class="filter-content">
     <select class="easyui-combobox" id="operator" name="operator">
       <option #if(${operationLogForm.getOperator()}) selected="selected" #end value="全部">全部</option>
       #foreach( $user in $users )
       <option #if(${operationLogForm.getOperator()}==${user.getCn_name()}) selected="selected" #end >${user.getCn_name()}</option>
       #end
     </select>
    </div>

    <div class="filter-content full-right" style="margin-left:200px">
         <a id="clickSearch" class="easyui-linkbutton full-right" >查询 <i class="glyphicon glyphicon-search"></i></a>
      </div>
    </div>

    </form>


    <hr/>

    <div class="panel panel-default">
      <div class="panel-heading"><i class="glyphicon glyphicon-tags"></i> 操作队列信息</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>时间</th>
            <th>操作人</th>
            <th>操作</th>
            <th>操作对象</th>
            <th>处理量</th>
            <th>成功数</th>
            <th>失败数</th>
          </tr>
        </thead>
        <tbody>
          #foreach( $operationQueue in $operationQueues )
          <tr>
            <th>${operationQueue.getId()}</th>
            <td>${operationQueue.getStartTime()}</td>
            <td>${operationQueue.getOperator()}</td>
            <td>${operationMap.get("${operationQueue.getOperation()}")}</td>
            <td>${objectTypeMap.get("${operationQueue.getObjectType()}")}</td>
            #set($urlAll="#springUrl('/operation/view/all/')"+${operationQueue.getId()})
            <td>
              <span class="mini-label  mini-label-gray-lighter">
                <a href="$urlAll" target="_blank" style="margin:5px;color:#5bc0de">${operationQueue.getQueueCnt()}</a>
              </span>
            </td>
            #set($urlSuccess="#springUrl('/operation/view/success/')"+${operationQueue.getId()})
            <td>
              <span class="mini-label  mini-label-gray-lighter">
                <a href="$urlSuccess" target="_blank" style="margin:5px;color:#5cb85c">${operationQueue.getSuccessCnt()}</a>
              </span>
            </td>
            #set($urlFail="#springUrl('/operation/view/fail/')"+${operationQueue.getId()})
            <td>
              <span class="mini-label  mini-label-gray-lighter">
                <a href="$urlFail" target="_blank" style="margin:5px;color:#d9534f" >${operationQueue.getFailCnt()}</a>
              </span>
            </td>
          </tr>
          #end

        </tbody>
      </table>
    </div>

</div>
