#set($title="快递详情")

<div class="row">
  <div class="col-md-12">
    <form action="#springUrl('/delivery/detail')" method="post">
      <input name="content" value="${content}" type="hidden"/>
      <span class="subsite-title">快递信息:<code>${content}</code></span>
      <button class="btn btn-success pull-right">重新获取</button>
    </form>
  </div>
</div>
<hr style="margin-top:1px"/>
#set($num = 1)
<table class="table table-hover">
  <thead>
      <tr>
        <th style="width:45px;"></th>
        <th style="width:100px">时间</th>
        <th style="width:600px">信息</th>
      </tr>
    </thead>
  <tbody>
    #foreach( $detail in $details )
     #if($num==1)
     #set($num = 2)
     <tr style="color:red;height:50px">
       <th><li>[最新]</li></th>
       <td>${detail.acceptTime}</td>
       <td><b>[</b> ${detail.acceptAddress} <b>]</b> &nbsp; ${detail.remark}</td>
     </tr>
     #else
     <tr style="height:36px">
       <th><li/></th>
       <td>${detail.acceptTime}</td>
       <td><b>[</b> ${detail.acceptAddress} <b>]</b> &nbsp; ${detail.remark}</td>
     </tr>
     #end
    #end
    #if($num==1)
    #set($num = 2)
    <tr style="color:red;height:50px">
      <th><li>[提示]</li></th>
      <td id="curDate"></td>
      <td>：( 该单号暂无物流进展，请稍后再试，或检查公司和单号是否有误</td>
    </tr>
    #end
  </tbody>
</table>

<script>
  function formatterDatetime(date){
    var y = date.getFullYear();
    var m = date.getMonth()+1;
    var d = date.getDate();
    var h = date.getHours();
    var mm= date.getMinutes();
    var ss= date.getSeconds();
    return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d)+' '+(h<10?('0'+h):h)
            +':'+(mm<10?('0'+mm):mm)+':'+(ss<10?('0'+ss):ss);
  }
  var curDate = new Date();
  $('#curDate').html(formatterDatetime(curDate));
</script>
