#set($title="快递详情")

<div class="row">
  <div class="col-md-12">
    <form action="#springUrl('/delivery/detail')" method="post">
      <input name="content" value="${content}" type="hidden"/>
      <span class="subsite-title">快递信息:<code>${content}</code></span>
      <button class="btn btn-success pull-right">重新获取</button>
    </form>
  </div>
</div>
<hr style="margin-top:1px"/>
#set($num = 1)
<table class="table table-hover">
  <thead>
      <tr>
        <th style="width:45px;"></th>
        <th style="width:100px">时间</th>
        <th style="width:600px">信息</th>
      </tr>
    </thead>
  <tbody>
    #foreach( $detail in $details )
     #if($num==1)
     #set($num = 2)
     <tr style="color:red;height:50px">
       <th><li>[最新]</li></th>
       <td>${detail.acceptTime}</td>
       <td><b>[</b> ${detail.acceptAddress} <b>]</b> &nbsp; ${detail.remark}</td>
     </tr>
     #else
     <tr style="height:36px">
       <th><li/></th>
       <td>${detail.acceptTime}</td>
       <td><b>[</b> ${detail.acceptAddress} <b>]</b> &nbsp; ${detail.remark}</td>
     </tr>
     #end
    #end
  </tbody>
</table>
