#set($title="直接出库")

<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/default/easyui.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/icon.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/color.css')">

<style type='text/css'>
  .codes {
    font-weight: 600;
    color: #c7254e;
  }
</style>
<script type="text/javascript" src="#springUrl('/static/jquery-easyui-1.4.2/jquery.easyui.min.js')"></script>
<script type="text/javascript" src="#springUrl('/static/js/underscore-min.js')"></script>
<script type="text/javascript" src="#springUrl('/static/js/underscore.string.js')"></script>

<script>
  var contextPath = '#springUrl('')';
  var goodsDG = new Array();
</script>

<div style="margin-top: 10px;">
 <div class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <label class="input-group-addon codes" id="basic-addon1">扫描/输入条形码 <i class="glyphicon glyphicon-console"></i></label>
      <input type="text" id="checkCode" class="form-control" style="width:340px" placeholder="条形码" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <label class="codes" id="basic-addon1"><a href="#springUrl('/delivery/immediate/history')">查看历史</a></label>
    </div>
  </div>
  <button type="button" id="saveBtn" onClick="savedImmediates()" style="width:100px" class="btn btn-success pull-right">确定</button>
 </div>
</div>

<hr style='margin-top: 10px; margin-bottom: 25px;'/>

<table id="dgTable" class="easyui-datagrid" title="商品列表" style="width:700px;height:250px" >
  <thead>
    <tr>
      <th data-options="field:'name', width:270, align:'center'">商品名称</th>
      <th data-options="field:'gId', width:70, align:'center'">商品ID</th>
      <th data-options="field:'model', width:100, align:'center'">商品型号</th>
      <th data-options="field:'amount', width:100, align:'center'">商品库存</th>
      <th data-options="field:'scode', width:160, align:'center'">条码</th>
      <th data-options="field:'damount', width:100, align:'right', editor:'numberbox'">出库数量</th>
      <th data-options="field:'insertDt', width:140, align:'center'">创建时间</th>
      <th data-options="field:'updateTime', width:140, align:'center'">最后更新时间</th>
      <th data-options="field:'remove', width:60, align:'center'
                        , formatter: formatterFilter
                        ">操作</th>
    </tr>
  </thead>
</table>


<script type="text/javascript">

  $("#dgTable").datagrid({
      rownumbers: true,
      //height: 'auto',
      border: false,
      collapsible: false,//是否可折叠的
      fit: true,//自动大小
      //url:'listApp.action',
      //sortName: 'code',
      //sortOrder: 'desc',
      remoteSort: false,
      singleSelect: true,//是否单选
      //pagination: true,//分页控件
      //rownumbers: true,//行号
      onCheck: function(index,row){
          //$('#removeBtn,#insertBtn').linkbutton('enable')
      },
      onClickCell: onClickCell
  });

  //监听enter事件
  document.onkeydown = function() {
    if (event.keyCode == 13) {
        var scode = $('#checkCode').val();
        if (scode == ""){
            return ;
        }

        if(isNotValid(scode)) {
          return ;
        }

        getGoods(scode);
    }
  }

  function isNotValid(scode) {
    var rs = _.find(goodsDG, function(goods) {
      if(scode == goods.scode) {
        return true;
      }
    });

    if(rs) {
      return true;
    } else {
      return false;
    }
  }

  function getGoods(scode) {
    $.ajax({
      method: 'GET',
      url: contextPath + '/goods/forImmediate',
      data: {scode: scode},
      async: true,
      cache: true,
      dataType: 'json',
      success: function(data) {
        if(data.length == 0) {
          alert("抱歉，未找到该条码产品");
        }
        _.each(data, function(goods){
          goodsDG.push(goods);
        });
        $("#dgTable").datagrid('loadData', goodsDG);
      },
      error: function(error) {
        return;
      }

    });
  }

  function savedImmediates() {
    console.log(goodsDG);
    $.ajax({
      method: 'POST',
      url: contextPath + '/delivery/immediate/save',
      data: {dImmediates: JSON.stringify(goodsDG)},
      async: true,
      cache: true,
      dataType: 'json',
      success: function(data) {
        if(data.status == "ok") {
          $.messager.confirm('提示', '出库成功，点击OK刷新页面', function(r){
            window.location.href=contextPath + '/delivery/immediate';
          });
        }
      }
    });
  }

  function formatterFilter(value, row) {
    if(row == null) {
      return "";
    }
    return "<a href='javascript: void(0)' onClick='filterItem(" + row.gId + ")' class='easyui-linkbutton' data-options='plain:true' >移除</a>";
  }

  function filterItem(id) {
    goodsDG = _.filter(goodsDG, function(item) {
      if(item.gId != id) {
        return true;
      }
    });
    $("#dgTable").datagrid('loadData', goodsDG);
  }

  $.extend($.fn.datagrid.methods, {
      editCell: function(jq, param) {
        return jq.each(function(){
          var opts = $(this).datagrid('options');
          var fields = $(this).datagrid('getColumnFields',true).concat($(this).datagrid('getColumnFields'));
          for(var i=0; i<fields.length; i++){
            var col = $(this).datagrid('getColumnOption', fields[i]);
            col.editor1 = col.editor;
            if (fields[i] != param.field){
              col.editor = null;
            }
          }
          $(this).datagrid('beginEdit', param.index);
          for(var i=0; i<fields.length; i++){
            var col = $(this).datagrid('getColumnOption', fields[i]);
            col.editor = col.editor1;
          }
        });
      }
  });

  var editIndex = undefined;
  function endEditing(){
      if (editIndex == undefined){return true}
      if ($('#dgTable').datagrid('validateRow', editIndex)){
        $('#dgTable').datagrid('endEdit', editIndex);
        editIndex = undefined;
        return true;
      } else {
        return false;
      }
  }
  function onClickCell(index, field){
      if (endEditing()){
        $('#dgTable').datagrid('selectRow', index)
            .datagrid('editCell', {index:index,field:field});
        editIndex = index;
      }
  }

</script>
