<div id="dlgver" class="easyui-dialog" style="width:450px;height:320px;padding:10px 20px"
                closed="true" buttons="#dlg-buttons">
        <div class="ftitle">核销账单</div>
            <form id="modalForm" method="post" style="margin-top:20px" novalidate>
                <input type="hidden" value="" name="lrId" id="lrIdver" />
                
            </form>
      </div>
      <div id="dlg-buttons">
          <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="savever()" style="width:90px">Save</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlgver').dialog('close')" style="width:90px">Cancel</a>
      </div>