#set($title='应收账单')
#set($layout = "layout-finance.vm")

<script>
  var contextPath = '#springUrl('')';
</script>
<link href="#springUrl('/static/css/ledgerre/viewInv.css')" rel="stylesheet" />
<script type="text/javascript" src="#springUrl('/static/js/ledgerre/view.js')"></script>

<h2 style="margin-top:4px"><code>应收账单</code></h2>
<form id="firstFromId" action="#springUrl('/ledgerReceivable/search')" method="get">
  <div class="filter-bar-sm" >
    <div class="filter-title-sm">
      <label>日期范围 : </label>
    </div>
    <div class="filter-content">
      <div class="input-group">
      <div class="ui corner labeled input">
        <input id="startDate" name="startDate" value="$startDate" type="text" class="form-control" />
      </div>
      <span> &nbsp;<i class="glyphicon glyphicon-forward"></i>&nbsp;</span>
      <div class="ui corner labeled input">
        <input id="endDate" name="endDate" value="$endDate" type="text" class="form-control" />
      </div>
      </div>
    </div>
    <input type="hidden" name="currentPage" value="1" />
    <input type="hidden" name="numPerPage" value="20" />
    <div class="filter-title-sm">
      <label>开票公司 : </label>
    </div>
    <div class="filter-content">
      <div class="input-group col-xs-12">
        <select class="form-control" name="proId" id="selProId">
            <option value="0">全部</option>
            #foreach( $key in $producerMap.keySet().toArray())
            <option #if($key==$proId)selected='selected'#end value="$key">${producerMap.get($key)}</option>
            #end
        </select>
      </div>
    </div>
    <div class="filter-content-right" style="margin-top:8px">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" name="conName" value="$conName" placeholder="付款公司">
        <div id="btnSearch" class="ui teal submit button">Search</div>
      </div>
    </div>
  </div>
  
</form>
<hr/>

<div class="row pull-right" style="padding-right:430px;margin-top: -15px;margin-left:0px">
  <div class="easyui-pagination"
  style="border:1px solid #000;background:white;position:fixed;"
  data-options="
  total: ${pagination.totalRows},
  pageSize: ${pagination.numPerPage},
  pageNumber:${pagination.currentPage},
  pageList: [10,20,30,50],//可以设置每页记录条数的列表
  beforePageText: '第 ',//页数文本框前显示的汉字
  afterPageText: '页    共 {pages} 页',
  displayMsg: '显示 {from} - {to}   共 {total} 条',
  onSelectPage: function(pageNumber, pageSize){
    console.log(pageNumber+'....'+pageSize);
    $('#currentPage').val(pageNumber);
    $('#numPerPage').val(pageSize);
    document.getElementById('formPagination').submit();
  }">
 </div>
</div>

<div class="ui primary button" id="addButton">
    <i class="plus icon"></i> 录入发票
</div>

<table class="ui blue striped table">
  <thead>
    <tr>
      <th width="200px">发票抬头</th>
      <th width="70px">金额</th>
      <th width="110px">开票公司</th>
      <th width="110px">开票日期</th>
      <th width="100px">已核销金额</th>
    </tr>
  </thead>
  <tbody>
    #foreach( $ledgerReceivable in $pagination.getResultList() )
      <tr id="${ledgerReceivable.lrId}_tr">
        <td><a href="#springUrl('/invoice?conId=')${ledgerReceivable.conId}&proId=${ledgerReceivable.proId}&monthId=${ledgerReceivable.monthId}"
            target="_blank">${consumerMap.get($ledgerReceivable.conId)}</a>
        </td>
        <td>${ledgerReceivable.amount}</td>
        <td>${producerMap.get($ledgerReceivable.proId)}</td>
        <td>${ledgerReceivable.monthId}</td>
        <td>${ledgerReceivable.verification}</td>
      </tr>
    #end
  </tbody>
</table>

<form name="formPagination" id="formPagination" action="#springUrl('/ledgerReceivable/search')" method="get">
  <input type="hidden" id="currentPage" name="currentPage" value="" />
  <input type="hidden" id="numPerPage" name="numPerPage" value="" />
  <input type="hidden" name="startDate" value="$startDate" />
  <input type="hidden" name="endDate" value="$endDate" />
  <input type="hidden" name="conName" value="$conName" />
</form>

#parse("/ledgerre/dialogInv.vm")

<script>
</script>

