#set($title='发票明细')
#set($layout = "layout-finance.vm")
#set($role=$session.getAttribute('user').role)

<script>
  var contextPath = '#springUrl('')';
</script>

<link href="#springUrl('/static/css/invoice/view.css')" rel="stylesheet" />
<script type="text/javascript" src="#springUrl('/static/js/invoice/view.js')"></script>
<script type="text/javascript" src="#springUrl('/static/js/ledgerre/ver.js')"></script>

<h2 style="margin-top:4px"><code>发票明细&核销</code></h2>

<hr/>
<div class="row pull-right" style="padding-right:450px;margin-top: -15px;margin-left:0px">
  <div class="easyui-pagination"
  style="border:1px solid #000;background:white;position:fixed;"
  data-options="
  total: ${pagination.totalRows},
  pageSize: ${pagination.numPerPage},
  pageNumber:${pagination.currentPage},
  pageList: [10,20,30,50],//可以设置每页记录条数的列表
  beforePageText: '第 ',//页数文本框前显示的汉字
  afterPageText: '页    共 {pages} 页',
  displayMsg: '显示 {from} - {to}   共 {total} 条',
  onSelectPage: function(pageNumber, pageSize){
    console.log(pageNumber+'....'+pageSize);
    $('#currentPage').val(pageNumber);
    $('#numPerPage').val(pageSize);
    document.getElementById('formPagination').submit();
  }">
</div>
</div>

<div class="ui green button" id="checkVerification">
    <i class="checkmark icon"></i>核销勾选 
</div>


<table class="ui blue striped table">
  <thead>
    <tr>
      <th style="padding-left:8px">
        <div class="checkbox" style="margin-top:0px;margin-bottom:0px">
           <label>
             <input id="checkAll" onclick="checkAllMonitor()" type="checkbox">全选
           </label>
        </div>
      </th>
      <th>&nbsp;&nbsp;开票公司</th>
      <th>价税合计</th>
      <th>金额</th>
      <th>税额</th>
      <th>开票日期</th>
      <th>已核销金额</th>
      <th>状态</th>
      <th width="85px">编辑</th>
    </tr>
  </thead>
  <tbody>
    #foreach( $invoice in $pagination.getResultList() )
      <tr id="${invoice.invId}_tr" class="#if(${invoice.isDeleted}==1)warning
        #elseif(${invoice.valoremTax}==${invoice.verification})success
        #elseif(${invoice.valoremTax}>${invoice.verification} && ${invoice.verification}>0)error
        #end">
        <td>
         #if(${invoice.valoremTax}==${invoice.verification})
          已核销
         #elseif(${invoice.isDeleted}==1)无效发票
         #else
          <div class="checkbox" style="margin-top:0px;margin-bottom:0px">
           <label>
             <input name="invId" type="checkbox" value="${invoice.invId}">${invoice.invId}
           </label>
          </div>
         #end
        </td>
        <td>
          <a id="edit" onclick="edit(${invoice.invId},${invoice.conId},${invoice.proId},${invoice.isDeleted})" data-toggle="modal"
           style="cursor:pointer;">${producerMap.get($invoice.proId)}</a>
        </td>
        <td>${invoice.valoremTax}</td>
        <td>${invoice.amount}</td>
        <td>${invoice.amountTax}</td>
        <td>${invoice.invDate}</td>
        <td>${invoice.verification}</td>
        <td value="${invoice.isDeleted}">
          <span class="mini-label #if(${invoice.isDeleted}==0) mini-label-primary #else mini-label-default #end">
            #if(${invoice.isDeleted}==0) 有效 #else 无效 #end
          </span>
        </td>
        <td>
          <a id="edit" onclick="edit(${invoice.invId},${invoice.conId},${invoice.proId},${invoice.isDeleted})" data-toggle="modal"
          class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"> </a>
          #if($role==1)
          <a href="javascript:deleteInfo(${invoice.invId})" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true"> </a>
          #end
      </td>
      </tr>
    #end
  </tbody>
</table>

<form name="formPagination" id="formPagination" action="#springUrl('/invoice/search')" method="get">
  <input type="hidden" id="currentPage" name="currentPage" value="" />
  <input type="hidden" id="numPerPage" name="numPerPage" value="" />
  <input type="hidden" id="conIdSearch" name="conId" value="$conId" />
  <input type="hidden" id="monthId" name="monthId" value="$monthId" />
</form>

#parse("/invoice/dialog.vm")
#parse("/invoice/dialogVer.vm")
#parse("/invoice/dialogVerAll.vm")

<script>
</script>

