#set($title='应收账款')
#set($layout = "layout-finance.vm")

<script>
  var contextPath = '#springUrl('')';
</script>

<script type="text/javascript" src="#springUrl('/static/js/debtor/view.js')"></script>

<h2 style="margin-top:4px"><code>应收账单分析</code></h2>


<form id="firstFromId" action="#springUrl('/debtor/search')" method="POST">
  <div class="filter-bar-sm" >
    <div class="filter-title-sm">
      <label>日期范围</label>
    </div>
    <div class="filter-content">
      <div class="input-group">
      <div class="ui corner labeled input">
        <input id="startDate" name="startDate" value="$startDate" type="text" class="form-control" />
      </div>
      <span> &nbsp;<i class="glyphicon glyphicon-forward"></i>&nbsp;</span>
      <div class="ui corner labeled input">
        <input id="endDate" name="endDate" value="$endDate" type="text" class="form-control" />
      </div>
      </div>
    </div>
    <input type="hidden" name="currentPage" value="1" />
    <input type="hidden" name="numPerPage" value="20" />
    
    <div class="filter-content" style="margin-top:8px">
      <div class="ui primary button" id="upButton">
        <i class="reply icon"></i> 上翻
      </div>
    </div>
    
    <div class="filter-content" style="margin-top:8px">
      <div class="ui primary button" id="downButton">
        <i class="share icon"></i> 下翻
      </div>
    </div>
    
    <div class="filter-content-right" style="margin-top:8px">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" name="conName" value="#if($conName)$conName#end" placeholder="客服公司">
        <div id="btnSearch" class="ui teal submit button">Search</div>
      </div>
    </div>
  </div>
  
</form>
<hr/>


<table class="ui blue striped table">
  <thead>
    <tr>
      <th min-width="150px">客户公司</th>
      <th min-width="150px">公司名称</th>
      #foreach($monthId in $monthIdList)
        <th width="100px">$monthId.replace("M","年")月</th>
      #end
    </tr>
  </thead>
  <tbody>
    #foreach( $key in $tableList.keySet().toArray() )
      #set($row=${tableList.get($key)})
      <tr id="${consumer.conId}_tr">
        <td>${consumerMap.get($row.get("conId"))}</td>
        <td>${producerMap.get($row.get("proId"))}</td>
        #foreach($monthId in $monthIdList)
          #if($row.get($monthId))
            #set($tmpMap=$row.get($monthId))
            #set($subAmount=$tmpMap.get('amount')-$tmpMap.get('verification'))
            <td width="100px" class="#if($subAmount == 0)#elseif($subAmount < 0) negative #else positive #end">
              <a onclick="detail($tmpMap.get('amount'),$tmpMap.get('verification'))" style="cursor:pointer;">$subAmount</a>
            </td>
          #else 
            <td width="100px">--</td>
          #end
        
      #end
      </tr>
    #end
  </tbody>
</table>


#parse("/debtor/dialog.vm")

