
#set($title="商品管理")
<script src="#springUrl('/static/js/goods/list.js')"></script>
<script src="#springUrl('/static/js/goods/view.js')"></script>
<script src="#springUrl('/static/js/bootstrap-suggest.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>
<form id="goodsSearchId" action="#springUrl('/goods/search')" method="POST">
  <div class="filter-bar-sm" >
    <div class="filter-content">
      <select class="form-control" id="isDisabled1" name="isDisabled">
        <option #if(${isDisabled}=='A') selected="selected" #end value='A'>是否有效</option>
        <option #if(${isDisabled}=='F') selected="selected" #end value='F'>有效</option>
        <option #if(${isDisabled}=='T') selected="selected" #end value='T'>无效</option>
      </select>
    </div>
    <input type="hidden" name="currentPage" value="1" />
    <div class="filter-content">
      <div class="form-group">
          <input type="text" name="sName"  class="form-control"
            #if($sName) value="${sName}" #end
           placeholder="商品名称" />
      </div>
    </div>
    <div class="filter-content">
      <div class="form-group">
        <button type="submit" class="btn btn-default">查询</button>
      </div>
    </div>

    <div class="filter-content-right ">
      <div class="form-group">
        <button type="button" class="btn btn-default">导出</button>
      </div>
    </div>

    <div class="filter-content-right ">
      <div class="form-group">
        <button type="button" class="btn btn-default">导入</button>
      </div>
    </div>

  </div>
</form>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading"><a href="#goodsModal" id="goodsAdd" data-toggle="modal"><i class="glyphicon glyphicon-folder-close"></i>添加</a></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th style="width:120px;">商品名称</th>
        <th style="width:160px;">供应商名称</th>
        <th style="width:65px;">长(mm)</th>
        <th style="width:65px;">宽(mm)</th>
        <th style="width:65px;">高(mm)</th>
        <th style="width:65px;">重(g)</th>
        <th style="width:118px;">供应商产品编号</th>
        <th style="width:75px;">商品条码</th>
        <th style="width:45px;">盒数</th>
        <th style="width:45px;">个数</th>
        <th style="width:50px;">状态</th>
        <th style="width:90px;">创建时间</th>
        <th style="width:75px;">修改删除</th>
      </tr>
    </thead>
    <tbody>
      #foreach( $goods in $paginationGoods.getResultList() )
      <tr id="${goods.gId}_tr">
        <th>${goods.gId}</th>
        <td>${goods.name}</td>
        <td>$supplierMap.get(${goods.sId})</td>
        <td>${goods.length}</td>
        <td>${goods.width}</td>
        <td>${goods.height}</td>
        <td>${goods.weight}</td>
        <td>${goods.gIdSupplier}</td>
        <td>${goods.scode}</td>
        <td>${goods.boxes}</td>
        <td>${goods.amount}</td>
        <td value="${goods.isDisabled}">
          <span class="mini-label #if(${goods.isDisabled}=='F') mini-label-primary #else mini-label-default #end">
            #if(${goods.isDisabled}=='F') 有效 #else 无效 #end
          </span>
        </td>
        <td>${goods.insertDt}</td>
        <td>
          <a href="#goodsModal" id="goodsEdit" onclick="goodsEdit(${goods.gId},'$goods.isDisabled',${goods.sId})" data-toggle="modal"
          class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"> </a>
          <a href="javascript:deleteGoods(${goods.gId},'$goods.name')" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true"> </a>
        </td>
      </tr>
      #end
    </tbody>
  </table>
</div>

#parse("/goods/view.vm")

<br/>


<script type="text/javascript">
    var sNameSuggest = $("#sName").bsSuggest({
        url: "../supplier/getSupplierName?name=",
        idField: "sId",
        keyField: "name",
        listAlign: "auto",
        listStyle: {
        "padding-top":0, "max-height": "375px", "max-width": "800px",
        "overflow": "auto","min-width": "300px", "width": "auto",
        "left": "-393px", "right": "auto", "padding-right": "10px",
        "transition": "0.5s", "-webkit-transition": "0.5s", "-moz-transition": "0.5s", "-o-transition": "0.5s"
        }, //列表的样式控制
    }).on('onDataRequestSuccess', function (e, result) {
    	console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
    	console.log('onSetSelectValue: ', keyword);
      console.log(keyword.id);
      $('.modal-body #sId').val(keyword.id);
    }).on('onUnsetSelectValue', function (e) {
    	console.log("onUnsetSelectValue");
    });

</script>
