
<div id="modal" class="ui standard test modal">
  <i class="close icon"></i>
  <div id="modalTitle" class="header">新增</div>
  <div class="content">
     <form class="ui form form-horizontal" role="form" id="modalForm" method="post" >
          <input type="hidden" value="" name="brId" id="brId" />
          
          <div class="field form-group">
            <label for="name" class="col-sm-2 control-label" style="padding-left:4px" >客服公司</label>
            <div class="col-sm-6" style="padding-right:4px">
              <input type="text" class="form-control" name="customerCompany" id="customerCompany" value="" />
            </div>
          </div>

          <div class="field form-group">
            <label for="" class="col-sm-2 control-label" >日期</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="brDate" id="brDate" value="" />
            </div>
          </div>

          <div class="field form-group">
            <label for="contactName" class="col-sm-2 control-label" >金额</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" required="true" name="amount" id="amount" value="" />
            </div>

          </div>

          <div class="field form-group">
            <label for="contactTel" class="col-sm-2 control-label" style="padding-left:1px">备注</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="remark" id="remark" value="" />
            </div>
          </div>
          
          <hr/>
          <div class="">
            <div class="ui black pull-right button" id="closeModal">
              取消
            </div>
            <div class="ui positive pull-right labeled icon submit button" onclick="modalFormCommit()">
              确认
              <i class="checkmark icon"></i>
            </div>
          </div>

      </form>
  </div>
  
</div>
