.l-btn-text{
	line-height: 20px !important;
}

/**
.mini-label {
	display: inline;
	padding: 3px 6px;
	color: white;
	border-radius: 5px;
}

.mini-label.mini-label-primary {
	background-color: #428BCA;
}

.mini-label.mini-label-default {
	background-color: #999;
}

*/