#set($title='商品入库')
#set($layout = "layout.vm")

<form id="formPagination" name="formPagination" role="form" action="#springUrl('/enter/list')" method="post">
  <input type="hidden" id="currentPage" name="currentPage" value="" />
  <input type="hidden" id="numPerPage"  name="numPerPage"  value="" />
</form>

<div class="easyui-pagination" style="border:1px solid #000 ; background:white;position:fixed;margin:5px auto;"
  data-options="
  total: ${paginationEnters.totalRows},
  pageSize: ${paginationEnters.numPerPage},
  pageNumber:${paginationEnters.currentPage},
  pageList: [10,20,30,50],//可以设置每页记录条数的列表
  beforePageText: '第 ',//页数文本框前显示的汉字
  afterPageText: '页    共 {pages} 页',
  displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
  onSelectPage: function(pageNumber, pageSize){
    console.log(pageNumber+'....'+pageSize);
    $('#currentPage').val(pageNumber);
    $('#numPerPage').val(pageSize);
    document.getElementById('formPagination').submit();
  }">
</div>


<div class="panel panel-default">
  <div class="panel-heading" style="padding:20px 15px 20px 25px">
    <b class="pull-right" style="padding:0px 0px 15px 15px;margin-top:-10px;">最新入库</b>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:50px;">ID</th>
        <th style="min-width:50px">商品ID</th>
        <th style="min-width:100px">商品名称</th>
        <th style="width:55px;">箱数</th>
        <th style="width:55px;">盒数</th>
        <th style="width:70px;">个数/盒</th>
        <th style="width:80px;">操作人</th>
        <th style="min-width:80px">备注</th>
        <th style="width:170px;">创建时间</th>
        <th style="width:80px;">修改删除</th>
      </tr>
    </thead>
    <tbody>
      #foreach( $enter in $paginationEnters.getResultList() )
      <tr id="${enter.eId}_tr">
        <th>${enter.eId}</th>
        <th>${enter.gId}</th>
        <td>${enter.gName}</td>
        <td>${enter.chests}</td>
        <td>${enter.boxes}</td>
        <td>${enter.amount}</td>
        <td>${enter.userName}</td>
        <td>${enter.remarks}</td>
        <td>${enter.insertDt}</td>
        <td>
          <a href="#goodsModal" id="goodsEdit" onclick="goodsEdit(${enter.gId},'$enter.isDisabled',${enter.sId})" data-toggle="modal"
          class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"> </a>
          <a href="javascript:deleteGoods(${enter.gId},'$enter.name')" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true"> </a>
        </td>
      </tr>
      #end
    </tbody>
  </table>
</div>

<script>
</script>
