#set($title='商品入库')
#set($layout = "layout.vm")


<div class="panel panel-default">
  <div class="panel-heading">最新入库</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:50px;">ID</th>
        <th style="min-width:50px">商品ID</th>
        <th style="min-width:100px">商品名称</th>
        <th style="width:55px;">箱数</th>
        <th style="width:55px;">盒数</th>
        <th style="width:70px;">个数/盒</th>
        <th style="width:80px;">操作人</th>
        <th style="min-width:80px">备注</th>
        <th style="width:170px;">创建时间</th>
        <th style="width:80px;">修改删除</th>
      </tr>
    </thead>
    <tbody>
      #foreach( $enter in $paginationEnters.getResultList() )
      <tr id="${enter.eId}_tr">
        <th>${enter.eId}</th>
        <th>${enter.gId}</th>
        <td>${enter.gName}</td>
        <td>${enter.chests}</td>
        <td>${enter.boxes}</td>
        <td>${enter.amount}</td>
        <td>${enter.userName}</td>
        <td>${enter.remarks}</td>
        <td>${enter.insertDt}</td>
        <td>
          <a href="#goodsModal" id="goodsEdit" onclick="goodsEdit(${enter.gId},'$enter.isDisabled',${enter.sId})" data-toggle="modal"
          class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"> </a>
          <a href="javascript:deleteGoods(${enter.gId},'$enter.name')" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true"> </a>
        </td>
      </tr>
      #end
    </tbody>
  </table>
</div>
<form name="formPagination" action="#springUrl('/enter/list')" method="POST">
<nav>
<ul class="pager">
  <li>
    #if($paginationEnters.currentPage >= 2)
    #set($previousPage=${paginationEnters.currentPage} - 1)
     <a href="javascript:formPaginationSumbmit($previousPage);">上一页</a>
    #else
     <span style="color:#777">首页</span>
    #end
    </li>
  <li><span>-第<font style="color: #5cb85c">$paginationEnters.currentPage</font>页--总共
    <font style="color: #5bc0de">$paginationEnters.totalPages</font>页-</span></li>
  <li>
      #if($paginationEnters.currentPage < $paginationEnters.totalPages)
       #set($nextPage=$paginationEnters.currentPage+1)
       <a href="javascript:formPaginationSumbmit($nextPage);">下一页</a>
      #else
      <span style="color:#777">最后一页</span>
      #end
  </li>
</ul>
</nav>
<input type="hidden" id="currentPage" name="currentPage" value="" />
</form>
