#set($title='商品入库')
#set($layout = "layout.vm")
<script src="#springUrl('/static/js/enter/view.js')"></script>
<script src="#springUrl('/static/js/bootstrap-suggest.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>

<h4><a href="#springUrl('/enter/list')">查看历史入库</a></h4>
<hr style="margin-top:0px"/>
<form class="form-horizontal" id="enterGoods" style="padding-top:30px;">
  <div class="form-group">
    <label for="sId" class="control-label" style="padding-left:15px;float:left" >客户名称</label>
    <div class="col-lg-3" style="margin-top: 7px">
      <input type="text" style="width:270px;hight:50px" name="sId" id="sId" required="true" />
    </div>
    <label for="name" class="control-label" style="padding-left:15px;float:left" ><font style="color:#d9534f">*</font>
      请搜索点击选择客户名称
    </label>
  </div>

  <div class="form-group">
    <label for="gId" class="control-label" style="padding-left:15px;float:left" >商品名称</label>
    <div class="col-lg-3" style="margin-top: 7px">
      <input type="text" style="width:270px;hight:50px" name="gId" id="gId" required="true" />
    </div>
    <label for="name" class="control-label" style="padding-left:15px;float:left" ><font style="color:#d9534f">*</font>
      请搜索点击选择商品名称
    </label>
  </div>

  <input type="hidden" name="gName" id="gName" />

  <hr/>
  <div class="form-group">
    <label for="chests" class="control-label" style="padding-left:15px;float:left" >共多少箱</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" value="" name="chests" id="chests" />
    </div>
  </div>
  <div class="form-group">
    <label for="boxes" class="control-label" style="padding-left:15px;float:left" >共多少盒</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" value="" name="boxes" id="boxes" />
    </div>
  </div>
  <div class="form-group">
    <label for="amount" class="control-label" style="padding-left:15px;float:left" >共多少支</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" value="" name="amount" id="amount" />
    </div>
  </div>
  <div class="form-group">
    <label for="remarks" class="control-label" style="padding-left:15px;float:left" >添加描述</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" value="" name="remarks" id="remarks" />
    </div>
  </div>
  <br/>
  <input type="reset" class="btn btn-default" value="重置" style="padding:6px 25px" />
  <label style="padding-left:75px"></label>
  <input type="submit" class="btn btn-success" value="保存" style="padding:6px 30px" />

</form>

<script type="text/javascript">

    $('#sId').combobox({
      valueField: 'sId',
      textField: 'sName',
      url: contextPath+'/supplier/getIdMapName',
      filter: function(q,row){
        var opts=$(this).combobox("options");
        return row[opts.textField].toLowerCase().indexOf(q.toLowerCase()) > -1;//将从头位置匹配改为任意匹配
      },
      onSelect: function(rec){
          var url = contextPath + '/goods/getIdMapName?sId=' + rec.sId;
          //console.log(url);
          $('#gId').combobox('clear');
          $('#gId').combobox('reload', url);
      }
    });

    $('#gId').combobox({
      valueField: 'gId',
      textField: 'gName',
      url: contextPath + '/goods/getIdMapName?sId=-1',
      filter: function(q,row){
        var opts=$(this).combobox("options");
        return row[opts.textField].toLowerCase().indexOf(q.toLowerCase()) > -1;//将从头位置匹配改为任意匹配
      },
      onSelect: function(rec){
        //console.log(rec);
        $('#sId').combobox('setValue', rec.sId);
        $('#gName').val(rec.gName);
      }
     });

</script>
