#set($title='进项增票登记')
#set($layout = "layout-finance.vm")
#set($role=$session.getAttribute('user').role)

<script>
  var contextPath = '#springUrl('')';
</script>

<link href="#springUrl('/static/css/invoiceinc/view.css')" rel="stylesheet" />
<script type="text/javascript" src="#springUrl('/static/js/invoiceinc/view.js')"></script>

<h2 style="margin-top:4px"><code>录入进项增票</code></h2>

<form id="firstFromId" action="#springUrl('/invoiceIncome/search')" method="get">
  <div class="filter-bar-sm" >
    <div class="filter-title-sm">
      <label>日期范围 : </label>
    </div>
    <div class="filter-content">
      <div class="input-group">
      <div class="ui corner labeled input">
        <input id="startDate" name="startDate" value="$startDate" type="text" class="form-control" />
      </div>
      <span> &nbsp;<i class="glyphicon glyphicon-forward"></i>&nbsp;</span>
      <div class="ui corner labeled input">
        <input id="endDate" name="endDate" value="$endDate" type="text" class="form-control" />
      </div>
      </div>
    </div>
    <input type="hidden" name="currentPage" value="1" />
    <input type="hidden" name="numPerPage" value="20" />
    <div class="filter-title-sm">
      <label>发票所属 : </label>
    </div>
    <div class="filter-content">
      <div class="input-group col-xs-12">
        <select class="form-control" name="invType" id="selinvType">
            <option value="-1">全部</option>
            #foreach( $key in $invTypesMap.keySet().toArray())
            <option #if($key==$invType)selected='selected'#end value="$key"> ${invTypesMap.get($key)} </option>
            #end
        </select>
      </div>
    </div>
    <div class="filter-content-right" style="margin-top:8px">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" name="conName" value="$conName" placeholder="开票公司">
        <div id="btnSearch" class="ui teal submit button">Search</div>
      </div>
    </div>
  </div>
  
</form>


<hr/>
<div class="row pull-right" style="padding-right:430px;margin-top: -15px;margin-left:0px">
  <div class="easyui-pagination"
  style="border:1px solid #000;background:white;position:fixed;"
  data-options="
  total: ${pagination.totalRows},
  pageSize: ${pagination.numPerPage},
  pageNumber:${pagination.currentPage},
  pageList: [10,20,30,50],//可以设置每页记录条数的列表
  beforePageText: '第 ',//页数文本框前显示的汉字
  afterPageText: '页    共 {pages} 页',
  displayMsg: '显示 {from} - {to}   共 {total} 条',
  onSelectPage: function(pageNumber, pageSize){
    console.log(pageNumber+'....'+pageSize);
    $('#currentPage').val(pageNumber);
    $('#numPerPage').val(pageSize);
    document.getElementById('formPagination').submit();
  }">
</div>
</div>

<div class="ui primary button" id="addButton">
    <i class="plus icon"></i> 新增
</div>


<table class="ui blue striped table">
  <thead>
    <tr>
      <th>发票号</th>
      <th>开票公司</th>
      <th>价税合计</th>
      <th>金额</th>
      <th>税额</th>
      <th>税率(%)</th>
      <th>开票日期</th>
      <th>发票所属</th>
      <th>返点金额</th>
      <th>发票抬头</th>
      <th>状态</th>
      <th width="85px">编辑</th>
    </tr>
  </thead>
  <tbody>
    #foreach( $invoiceIncome in $pagination.getResultList() )
      <tr id="${invoiceIncome.invId}_tr">
        <th>${invoiceIncome.invId}</th>
        <td><a id="edit" onclick="edit(${invoiceIncome.invId},${invoiceIncome.proId},${invoiceIncome.conId},${invoiceIncome.invType},${invoiceIncome.isDeleted})" data-toggle="modal"
          style="cursor:pointer;" >${consumerMap.get($invoiceIncome.conId)}</a>
        </td>
        <td>${invoiceIncome.valoremTax}</td>
        <td>${invoiceIncome.amount}</td>
        <td>${invoiceIncome.amountTax}</td>
        <td>${invoiceIncome.rateTax}%</td>
        <td>${invoiceIncome.invDate}</td>
        <td>
          <span class="mini-label #if(${invoiceIncome.invType}==0) mini-label-success #elseif(${invoiceIncome.invType}==2) mini-label-danger #else mini-label-primary #end">
            #if(${invTypesMap.get($invoiceIncome.invType)})${invTypesMap.get($invoiceIncome.invType)}#end
          </span>
        </td>
        <td>${invoiceIncome.getRebateAmount()}</td>
        <td>${producerMap.get($invoiceIncome.proId)}</td>
        <td value="${invoiceIncome.isDeleted}">
          <span class="mini-label #if(${invoiceIncome.isDeleted}==0) mini-label-primary #else mini-label-default #end">
            #if(${invoiceIncome.isDeleted}==0) 有效 #else 无效 #end
          </span>
        </td>
        <td>
          <a id="edit" onclick="edit(${invoiceIncome.invId},${invoiceIncome.proId},${invoiceIncome.conId},${invoiceIncome.invType},${invoiceIncome.isDeleted})" data-toggle="modal"
          class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"> </a>
          #if($role==1)
          <a href="javascript:deleteInfo(${invoiceIncome.invId})" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true"> </a>
          #end
      </td>
      </tr>
    #end
  </tbody>
</table>

<form name="formPagination" id="formPagination" action="#springUrl('/invoiceIncome/search')" method="get">
  <input type="hidden" id="currentPage" name="currentPage" value="" />
  <input type="hidden" id="numPerPage" name="numPerPage" value="" />
  <input type="hidden" name="startDate" value="$startDate" />
  <input type="hidden" name="invType" value="$invType" />
  <input type="hidden" name="endDate" value="$endDate" />
  <input type="hidden" name="conName" value="$conName" />
</form>

#parse("/invoiceinc/dialog.vm")

<script>
</script>

