#set($title="订单验货")


<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/default/easyui.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/icon.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/color.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/order/view.css')">

<script src="#springUrl('/static/js/order/detailCheck.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>

<div>
<form class="form-horizontal" id="formoId" action="#springUrl('/order/detailCheck/')" style="padding-top:10px;">
 <div class="row">
    <label class="control-label" style="padding-left:15px;float:left" >订单编号：</label>
    <label for="oId" class="control-label" style="padding-left:0px;padding-right:30px;float:left" >
        <input name="oId" id="oId" value="$curoId" style="width:80px" />
    </label>
    <div class="control-label" style="float:left">
        <a id="btnSearch" href="#" style="height:22px;float:left" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
    </div>
    
    <label class="control-label" style="padding-left:30px;float:left" >制单人：</label>
    <label class="control-label" style="float:left" >
        <code>#if(${users.get($orderInfo.userId)})${users.get($orderInfo.userId)}#else--#end</code>
    </label>
    <label class="control-label" style="padding-left:30px;float:left" >客户名称：</label>
    <label class="control-label" style="float:left" >
        <code>#if(${supplier.name})${supplier.name}#else--#end</code>
    </label>
    
    <label class="control-label" style="padding-left:30px;float:left" >扫描/输入条形码：</label>
    <label class="control-label" style="float:left" >
        <input name="checkCode" id="checkCode" value="" style="width:130px" class="easyui-numberbox" />
    </label>
    
    <div class="control-label" style="padding-left:30px;float:left">
        <a id="confimChecked" href="javascript:confirmChecked($orderInfo.oId)" style="height:22px;width:80px;float:left"
            #if(${orderInfo.status}==2)disabled="true"#end
            class="easyui-linkbutton" data-options="iconCls:'icon-search'">确认验货</a>
    </div>
    
  </div>
 </form>
</div>
 <hr/>

<div class="panel panel-default">
  <div class="panel-heading">订单验货</div>
  <table class="table table-striped" style="vertical-align: middle!important;">
    <thead style="table-layout: fixed;">
      <tr>
        <th width="60px">商品名称</th>
        <th width="100px">商品数量</th>
        <th width="60px">金额</th>
        <th width="58px">条码</th>
        <th width="60px">已验数量</th>
        <th width="40px">ok</th>
      </tr>
    </thead>
    <tbody>
      #foreach( $orderDetail in $orderDetails )<tr id="${orderDetail.odId}_tr">
        <td>${orderDetail.gName}</td>
        <td>${orderDetail.amount}</td>
        <td>${orderDetail.amountNet}</td>
        <td id="${goodCodeMap.get($orderDetail.gId)}_scode">${goodCodeMap.get($orderDetail.gId)}</td>
        <td style="color: #c7254e;">
            <input id="${goodCodeMap.get($orderDetail.gId)}_checked" value="#if(${orderInfo.status}==2)${orderDetail.amount}#else 0#end" style="width:60px" 
                #if(${orderInfo.status}==2)disabled="true"#end
                class="easyui-numberbox"
                data-options="onChange(n,o){
                    var flagId = this.id;
                    var checkBoxId = flagId.replace('checked','checkbox');
                    var parTh = $(this).parent().parent();
                    var flag=${orderDetail.amount};
                    //var flag = parTh.children('td')[1].innerHTML;
                    if(flag==n){
                      $('#'+checkBoxId).prop('checked',true);
                    } else {
                      $('#'+checkBoxId).prop('checked',false);
                    }
                }" />
        </td>
        <!-- <td ><a href="javascript:editChecheds(${goodCodeMap.get($orderDetail.gId)})">修改</a></td> -->
        <td>
          <div class="checkbox" style="margin-top:0px;margin-bottom:0px">
           <label>
             <input type="checkbox" id="${goodCodeMap.get($orderDetail.gId)}_checkbox" name="okchecked" #if(${orderInfo.status}==2)checked="checked"#end>
           </label>
          </div>
        </td>
      </tr>
    #end</tbody>
  </table>
</div>
    
    <div id="editChecheds" class="easyui-dialog" style="width:280px;height:190px;padding:10px 20px"
                closed="true" buttons="#dlg-buttons">
        <div class="ftitle">修改数量</div>
            <form id="modalFormVer" method="post" style="margin-top:20px" novalidate>
                <div class="fitem">
                    <label style="padding-left:-5px;">已验数量:</label>
                    <input id="tmpCheckeds" style="width:110px" class="easyui-numberbox" required="true" />
                </div>
            </form>
      </div>
      <div id="dlg-buttons">
          <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="editSubmit()" style="width:90px">修改</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#editChecheds').dialog('close')" style="width:90px">取消</a>
      </div>
<script>
  $('#oId').combobox({
      valueField: 'oId',
      textField: 'oId',
      url: contextPath+'/order/detail/getCurAlloId',
      onChange: function(rec){
          document.getElementById('formoId').submit();
      }
  });
  
  $(function(){
    $('#btnSearch').bind('click', function(){
        document.getElementById('formoId').submit();
    });
  });
  
</script>
