#set($title="订单明细")

<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/default/easyui.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/icon.css')">
<script type="text/javascript" src="#springUrl('/static/jquery-easyui-1.4.2/jquery.easyui.min.js')"></script>
<script type="text/javascript" src="#springUrl('/static/js/order/detail.js')"></script>
<script src="#springUrl('/static/js/bootstrap-suggest.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>
<div>
<form class="form-horizontal" id="formoId" action="#springUrl('/order/detail/')" style="padding-top:10px;">
 <div class="row">
    <label for="oId" class="control-label" style="padding-left:15px;float:left" >订单编号：</label>
    <label for="oId" class="control-label" style="padding-left:0px;float:left" >
        <input name="oId" value="$curoId" style="width:80px" class="easyui-combobox" data-options="
                        valueField: 'oId',
                        textField: 'oId',
                        url: contextPath+'/order/detail/getCurAlloId',
                        onSelect: function(rec){
                            $('#customerCode').numberbox('setValue', rec.sId);
                        }" />
    </label>
    <!--
    <div class="col-lg-2">
       <div class="input-group">
           <input type="text" class="form-control" id="oId" name="oId" value="${curoId}" />
           <div class="input-group-btn">
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                   <span class="caret"></span>
               </button>
               <ul class="dropdown-menu dropdown-menu-right" role="menu">
               </ul>
           </div>
       </div>
     </div>
     -->
     <label for="oId" class="control-label" style="padding-left:30px;float:left" >制单人：</label>
     <label for="oId" class="control-label" style="float:left" ><code>${users.get($orderInfo.userId)}</code></label>
     <label for="oId" class="control-label" style="padding-left:30px;float:left" >客户名称：</label>
     <label for="oId" class="control-label" style="float:left" ><code>${supplier.name}</code></label>
   </div>
 </form>
</div>
 <hr/>
  <table id="dg" title="订单明细" style="width:auto;height:auto">
        <thead>
          <tr>
            <th data-options="field:'gId',width:210,
                        formatter:function(value,row){
                            return row.gName;
                        },
                        editor:{
                            type:'combobox',
                            options:{
                                valueField:'gId',
                                textField:'gName',
                                url:contextPath + '/goods/getIdMapName?sId=${cursId}',
                                required:true
                            }
                        }">产品名称</th>
            <th data-options="field:'retailPrice',width:90,align:'right',editor:{type:'numberbox',options:{precision:2, required:true}}">零售价</th>
            <th data-options="field:'unitPrice',width:90,align:'right',editor:{type:'numberbox',options:{precision:2, required:true}}">单价</th>
            <th data-options="field:'amountNet',width:90,align:'right',editor:{type:'numberbox',options:{precision:2, required:true}}">净额</th>
            <th data-options="field:'amount',width:90,align:'right',editor:{type:'numberbox',options:{required:true}}">数量</th>
            <th data-options="field:'amountAmt',width:90,align:'right',editor:{type:'numberbox',options:{precision:2,required:true}}">金额</th>
            <th data-options="field:'code',width:100,editor:'textbox'">条码</th>
            <th data-options="field:'remarks',width:310,editor:'textbox'">备注</th>
            <th data-options="field:'status',width:60,align:'center',editor:{type:'checkbox',options:{on:'修改',off:'修改'}}">操作</th>
          </tr>
        </thead>
    </table>

    <div id="tb" style="height:auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">撤销</a>
        <!-- <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a> -->
    </div>

<script type="text/javascript">
  $('#dg').datagrid({
      rownumbers:true,
      singleSelect: true,
      toolbar: '#tb',
      url: contextPath+'/order/detail/get?o_id='+${curoId},
      method: 'get',
      onClickRow: onClickRow
  });
  
  $(document).ready(function() {
        var sNameSuggest = $("#oId").bsSuggest({
            url : contextPath + '/order/detail/getAlloId?oId=',
            idField : "oId",
            keyField : "oId",
            listAlign : "auto"
        }).on('onDataRequestSuccess', function(e, result) {
            // console.log('onDataRequestSuccess: ', result);
        }).on('onSetSelectValue', function(e, keyword) {
            // console.log('onSetSelectValue: ', keyword);
            console.log(keyword.id);
            $('.modal-body #oId').val(keyword.id);
            document.getElementById("formoId").submit();
        }).on('onUnsetSelectValue', function(e) {
            // console.log("onUnsetSelectValue");
        });
    });

    var editIndex = undefined;
    var currentIndex = 0;
    function endEditing() {

        if (editIndex == undefined) {
            return true
        }
        if ($('#dg').datagrid('validateRow', editIndex)) {

            //console.log('editIndex:' + editIndex);
            var ed = $('#dg').datagrid('getEditor', {
                index : editIndex,
                field : 'gId'
            });
            var gName = $(ed.target).combobox('getText');
            $('#dg').datagrid('getRows')[editIndex]['gName'] = gName;

            var ed2 = $('#dg').datagrid('getEditor', {
                index : editIndex,
                field : 'sId'
            });
            //var sName = $(ed2.target).combobox('getText');
            //$('#dg').datagrid('getRows')[editIndex]['sName'] = sName;

            $('#dg').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function synchCombobox(sId) {
        var comboboxData;
        var url = contextPath + '/goods/getname?sId=' + sId;
        var ed = $('#dg').datagrid('getEditor', {
            index : editIndex,
            field : 'gId'
        });
        $.ajax({
            url : url,
            dataType : 'json',
            type : 'POST',
            success : function(data) {
                comboboxData = data;
                $(ed.target).combobox('loadData', comboboxData);
            }
        });
    }
    function onClickRow(index) {
        currentIndex = index;
        if (editIndex != index) {
            if (endEditing()) {
                $('#dg').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#dg').datagrid('selectRow', editIndex);
            }
        }
    }
    function append() {
        if (endEditing()) {
            $('#dg').datagrid('appendRow', {
                status : '修改'
            });
            editIndex = $('#dg').datagrid('getRows').length - 1;
            var row = $('#dg').datagrid('getRows')[currentIndex];
            currentIndex = editIndex;
            if (row.status == '修改' && currentIndex>=1 &&row.gId) {
                row.oId = $('#oId').val();
                $.ajax({
                    cache : true,
                    type : "POST",
                    url : contextPath + '/order/detail/save',
                    data : row,
                    async : true,
                    dataType : 'json',
                    success : function(result) {
                        if (result.value) {
                            $.messager.show({
                                timeout:1300,
                                title : '提示信息',
                                msg : result.msg
                            });
                        } else {
                            $.messager.show({
                                title : '提示信息',
                                msg : result.msg
                            });
                        }
                    },
                    error : function(result) {
                        $.messager.show({
                            title : '提示信息',
                            msg : result.msg
                        });
                    }
                });
            }
            $('#dg').datagrid('selectRow', editIndex).datagrid('beginEdit',
                    editIndex);
        }
    }
    function removeit() {
        if (editIndex == undefined) {
            return
        }
        var row = $('#dg').datagrid('getSelected');
        row.oId = $('#oId').val();
        if(row.odId){
            $.ajax({
                cache : true,
                type : "POST",
                url : contextPath + '/order/detail/delete',
                data : {
                    odId : row.odId
                },
                async : true,
                dataType : 'json',
                success : function(result) {
                    if (result) {
                        $.messager.show({
                            timeout:1300,
                            title : '提示信息',
                            msg : '操作成功'
                        });
                    } else {
                        $.messager.show({
                            title : '提示信息',
                            msg : '操作失败'
                        });
                    }
                },
                error : function(result) {
                    $.messager.show({
                        title : '提示信息',
                        msg : '操作失败'
                    });
                }
            });
        }

        $('#dg').datagrid('cancelEdit', editIndex).datagrid('deleteRow', editIndex);
        editIndex = undefined;
    }
    function accept() {
        if (endEditing()) {
            var row = $('#dg').datagrid('getSelected');
            row.oId = $('#oId').val();
            row.status='保存';
            $.ajax({
                cache : true,
                type : "POST",
                url : contextPath + '/order/detail/save',
                data : row,
                async : true,
                dataType : 'json',
                success : function(result) {
                    if (result.value) {
                        $.messager.show({
                            timeout:1300,
                            title : '提示信息',
                            msg : result.msg
                        });
                    } else {
                        $.messager.show({
                            title : '提示信息',
                            msg : result.msg
                        });
                    }
                },
                error : function(result) {
                    $.messager.show({
                        title : '提示信息',
                        msg : result.msg
                    });
                }
            });
            $('#dg').datagrid('acceptChanges');
        }
    }
    function reject() {
        $('#dg').datagrid('rejectChanges');
        editIndex = undefined;
    }
    function getChanges() {
        var rows = $('#dg').datagrid('getChanges');
        alert(rows.length + ' rows are changed!');
    }
</script>
