#set($title="订单信息")


<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/default/easyui.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/icon.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/jquery-easyui-1.4.2/themes/color.css')">
<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/order/view.css')">

<script src="#springUrl('/static/js/order/view.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>

<br/>

<div class="row pull-right" style="padding-right:430px;margin-top: -15px;margin-left:0px">
  <div class="easyui-pagination"
  style="border:1px solid #000;background:white;position:fixed;"
  data-options="
  total: ${paginations.totalRows},
  pageSize: ${paginations.numPerPage},
  pageNumber:${paginations.currentPage},
  pageList: [15,20,30,50],//可以设置每页记录条数的列表
  beforePageText: '第 ',//页数文本框前显示的汉字
  afterPageText: '页    共 {pages} 页',
  displayMsg: '显示 {from} - {to}   共 {total} 条',
  onSelectPage: function(pageNumber, pageSize){
    $('#currentPage').val(pageNumber);
    $('#numPerPage').val(pageSize);
    document.getElementById('formPagination').submit();
  }">
 </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><a href="#" onclick="add()" ><i class="glyphicon glyphicon-plus"></i> 新增订单</a></div>
  <table class="table table-striped" style="vertical-align: middle!important;">
    <thead style="table-layout: fixed;">
      <tr>
        <th width="60px">明细</th>
        <th width="100px">客户名称</th>
        <th width="60px">订单状态</th>
        <th width="80px">订单来源</th>
        <th width="58px">应付金额</th>
        <th width="80px">制单人</th>
        <th width="80px">制单日期</th>
        <th width="80px">查看删除</th>
      </tr>
    </thead>
    <tbody>
      #foreach( $order in $paginations.getResultList() )
      <tr id="${order.oId}_tr">
        <th><a href="#springUrl('/order/detail?oId=')${order.oId}&sId=${order.customerCode}" target="_blank">订单明细</a></th>
        <td>${suppliers.get($order.customerCode)}</td>
        <td value="${order.status}">
            <span class="mini-label 
                #if(${order.status}==0) mini-label-primary
                #elseif(${order.status}==1) mini-label-warning 
                #elseif(${order.status}==2) mini-label-info 
                #elseif(${order.status}==3) mini-label-danger
                #elseif(${order.status}==4) mini-label-success 
                #end">
                
            #if(${order.status}==0) 新&nbsp;&nbsp;&nbsp增
            #elseif(${order.status}==1) 已配货 
            #elseif(${order.status}==2) 已验货 
            #elseif(${order.status}==3) 已出库
            #elseif(${order.status}==4) 已完成 
            #end
          </span>
        </td>
        <td>${ordersources.get($order.osId)}</td>
        <td>${order.amountPayable}</td>
        <td>${users.get($order.operatorId)}</td>
        <td>${order.documentDate}</td>
        <td>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="edit(${order.oId},'${suppliers.get($order.customerCode)}')"></a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" plain="true" onclick="destroy(${order.oId})"></a>
        </td>
      </tr>
      #end
    </tbody>
  </table>
</div>

#parse("order/fm.vm")

<form name="formPagination" id="formPagination" action="#springUrl('/order/search')" method="GET">
    <input type="hidden" id="currentPage" name="currentPage" value="" />
    <input type="hidden" id="numPerPage" name="numPerPage" value="" />
</form>

<script type="text/javascript">
    var curuserName='$session.getAttribute("user").truename';
    
    $('#customerName').combobox({
      valueField: 'sId',
      textField: 'sName',
      url: contextPath+'/supplier/getIdMapName',
      onSelect: function(rec){
          $('#customerCode').numberbox('setValue', rec.sId);
      }
  });
  
  $('#osId').combobox({
      valueField: 'osId',
      textField: 'osName',
      url: contextPath+'/order/ordersources'
  });
</script>
