#set($title='供应商管理')
#set($layout = "layout.vm")
<script src="#springUrl('/static/js/supplier/list.js')"></script>
<script src="#springUrl('/static/js/supplier/view.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>
<form id="supplierSearchId" action="#springUrl('/supplier/search')" method="POST">
  <div class="filter-bar-sm" >
    <div class="filter-content">
      <select class="form-control" id="isDisable1" name="isDisable">
        <option #if(${supplierSearchForm.isDisable}=='A') selected="selected" #end value='A'>是否有效</option>
        <option #if(${supplierSearchForm.isDisable}=='F') selected="selected" #end value='F'>有效</option>
        <option #if(${supplierSearchForm.isDisable}=='T') selected="selected" #end value='T'>无效</option>
      </select>
    </div>
    <input type="hidden" name="currentPage" value="1" />
    <div class="filter-content">
      <select class="form-control" name="column">
        <option #if(${supplierSearchForm.column}=="shortname") selected="selected" #end value="shortname">供应商名称缩写</option>
        <option #if(${supplierSearchForm.column}=="name") selected="selected" #end value="name">供应商名称</option>
        <option #if(${supplierSearchForm.column}=="address") selected="selected" #end value="address">供应商地址</option>
        <option #if(${supplierSearchForm.column}=="contact_name") selected="selected" #end value="contact_name">联系人</option>
      </select>
    </div>
    <div class="filter-content">
      <div class="form-group">
          <input type="text" name="value"  class="form-control"
            #if(${supplierSearchForm.value}) value="${supplierSearchForm.value}" #end
           placeholder="查询名称、地址、联系人" />
      </div>
    </div>
    <div class="filter-content">
      <div class="form-group">
        <button type="submit" class="btn btn-default">查询</button>
      </div>
    </div>

    <div class="filter-content-right ">
      <div class="form-group">
        <button type="button" class="btn btn-default">导出</button>
      </div>
    </div>

    <div class="filter-content-right ">
      <div class="form-group">
        <button type="button" class="btn btn-default">导入</button>
      </div>
    </div>

  </div>

</form>

<hr/>


<div class="panel panel-default">
  <div class="panel-heading"><a href="#supplierModal" id="supplierAdd" data-toggle="modal"><i class="glyphicon glyphicon-user"></i>添加</a></div>
  <table class="table table-striped" style="vertical-align: middle!important;">
    <thead style="table-layout: fixed;">
      <tr>
        <th style="width:50px;">ID</th>
        <th style="min-width:100px;">供应商名称</th>
        <th style="width:80px;">名称缩写</th>
        <th style="min-width:150px;">供应商地址</th>
        <th style="width:80px;">联系人</th>
        <th style="width:80px;">联系电话</th>
        <th style="width:110px;">月结编号</th>
        <th style="width:60px;">状态</th>
        <th style="width:90px;">创建时间</th>
        <th style="width:80px;">修改删除</th>
      </tr>
    </thead>
    <tbody>
      #foreach( $supplier in $pagination.getResultList() )
      <tr id="${supplier.sId}_tr">
        <th>${supplier.sId}</th>
        <td>${supplier.name}</td>
        <td>${supplier.shortname}</td>
        <td>${supplier.address}</td>
        <td>${supplier.contactName}</td>
        <td>${supplier.contactTel}</td>
        <td>${supplier.mbcode}</td>
        <td value="${supplier.isDisabled}">
          <span class="mini-label #if(${supplier.isDisabled}=='F') mini-label-primary #else mini-label-default #end">
            #if(${supplier.isDisabled}=='F') 有效 #else 无效 #end
          </span>
        </td>
        <td>${supplier.insertDt}</td>
        <td>
          <a href="#supplierModal" id="supplierEdit" onclick="supplierEdit(${supplier.sId},'$supplier.isDisabled')" data-toggle="modal"
          class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"> </a>
          <a href="javascript:deleteSupplier(${supplier.sId},'$supplier.name')" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true"> </a>
        </td>
      </tr>
      #end

    </tbody>
  </table>
</div>
<form name="formPagination" action="#springUrl('/supplier/search')" method="POST">
<nav>
<ul class="pager">
  <li>
    #if($pagination.currentPage >= 2)
    #set($previousPage=${pagination.currentPage} - 1)
     <a href="javascript:formPaginationSumbmit($previousPage);">上一页</a>
    #else
     <span style="color:#777">首页</span>
    #end
    </li>
  <li><span>-第<font style="color: #5cb85c">$pagination.currentPage</font>页--总共
    <font style="color: #5bc0de">$pagination.totalPages</font>页-</span></li>
  <li>
      #if($pagination.currentPage < $pagination.totalPages)
       #set($nextPage=$pagination.currentPage+1)
       <a href="javascript:formPaginationSumbmit($nextPage);">下一页</a>
      #else
      <span style="color:#777">最后一页</span>
      #end
  </li>
</ul>
</nav>
<input type="hidden" id="currentPage" name="currentPage" value="" />
<input type="hidden" name="isDisable" value="$supplierSearchForm.isDisable" />
<input type="hidden" name="column" value="$supplierSearchForm.column" />
<input type="hidden" name="value" value="$supplierSearchForm.value" />
</form>

#parse("/supplier/view.vm")
