#set($title='客户管理')
#set($layout = "layout.vm")
<script src="#springUrl('/static/js/supplier/list.js')"></script>
<script src="#springUrl('/static/js/supplier/view.js')"></script>
<script>
  var contextPath = '#springUrl('')';
</script>
<form id="supplierSearchId" action="#springUrl('/supplier/search')" method="POST">
  <div class="filter-bar-sm" >
    <div class="filter-title-sm">
        <b>创建人:</b>
    </div>
    <div class="filter-content">
        <select class="form-control" name="userId" id="userId">
            <option value="0">全部</option>
            #foreach( $key in $users.keySet().toArray())
            <option #if($key==$userId)selected='selected'#end value="$key">${users.get($key)}</option>
            #end
        </select>
    </div>
    <div class="filter-content">
      <select class="form-control" id="isDisable1" name="isDisable">
        <option #if(${supplierSearchForm.isDisable}=='A') selected="selected" #end value='A'>是否有效</option>
        <option #if(${supplierSearchForm.isDisable}=='F') selected="selected" #end value='F'>有效</option>
        <option #if(${supplierSearchForm.isDisable}=='T') selected="selected" #end value='T'>无效</option>
      </select>
    </div>
    <input type="hidden" name="currentPage" value="1" />
    <input type="hidden" name="numPerPage" value="10" />
    <div class="filter-content">
      <select class="form-control" name="column">
        <option #if(${supplierSearchForm.column}=="shortname") selected="selected" #end value="shortname">客户名称缩写</option>
        <option #if(${supplierSearchForm.column}=="name") selected="selected" #end value="name">客户名称</option>
        <option #if(${supplierSearchForm.column}=="address") selected="selected" #end value="address">客户地址</option>
        <option #if(${supplierSearchForm.column}=="contact_name") selected="selected" #end value="contact_name">联系人</option>
      </select>
    </div>
    
    <div class="filter-content">
      <div class="form-group">
          <input type="text" name="value"  class="form-control"
            #if(${supplierSearchForm.value}) value="${supplierSearchForm.value}" #end
           placeholder="查询名称、地址、联系人" />
      </div>
    </div>
    <div class="filter-content">
      <div class="form-group">
        <button type="submit" class="btn btn-default">查询</button>
      </div>
    </div>

    <div class="filter-content-right ">
      <div class="form-group">
        <button type="button" class="btn btn-default">导出</button>
      </div>
    </div>

    <div class="filter-content-right ">
      <div class="form-group">
        <button type="button" class="btn btn-default">导入</button>
      </div>
    </div>

  </div>

</form>

<hr/>
<div class="easyui-pagination pull-right"
  style="border:1px solid #000;background:white;position:fixed;margin-top: -35px;"
  data-options="
  total: ${pagination.totalRows},
  pageSize: ${pagination.numPerPage},
  pageNumber:${pagination.currentPage},
  pageList: [10,20,30,50],//可以设置每页记录条数的列表
  beforePageText: '第 ',//页数文本框前显示的汉字
  afterPageText: '页    共 {pages} 页',
  displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
  onSelectPage: function(pageNumber, pageSize){
    console.log(pageNumber+'....'+pageSize);
    $('#currentPage').val(pageNumber);
    $('#numPerPage').val(pageSize);
    document.getElementById('formPagination').submit();
  }">
</div>

<div class="panel panel-default">
  <div class="panel-heading"><a href="#supplierModal" id="supplierAdd" data-toggle="modal"><i class="glyphicon glyphicon-user"></i>添加</a></div>
  <table class="table table-striped" style="vertical-align: middle!important;">
    <thead style="table-layout: fixed;">
      <tr>
        <th style="width:50px;">ID</th>
        <th style="min-width:100px;">客户名称</th>
        <th style="width:80px;">名称缩写</th>
        <th style="min-width:150px;">客户地址</th>
        <th style="width:80px;">联系人</th>
        <th style="width:80px;">联系电话</th>
        <th style="width:110px;">月结编号</th>
        <th style="width:60px;">状态</th>
        <th style="width:90px;">创建人</th>
        <th style="width:90px;">创建时间</th>
        <th style="width:80px;">修改删除</th>
      </tr>
    </thead>
    <tbody>
      #foreach( $supplier in $pagination.getResultList() )
      <tr id="${supplier.sId}_tr">
        <th>${supplier.sId}</th>
        <td>${supplier.name}</td>
        <td>${supplier.shortname}</td>
        <td>${supplier.address}</td>
        <td>${supplier.contactName}</td>
        <td>${supplier.contactTel}</td>
        <td>${supplier.mbcode}</td>
        <td value="${supplier.isDisabled}">
          <span class="mini-label #if(${supplier.isDisabled}=='F') mini-label-primary #else mini-label-default #end">
            #if(${supplier.isDisabled}=='F') 有效 #else 无效 #end
          </span>
        </td>
        <td>${users.get(${supplier.userId})}</td>
        <td>${supplier.insertDt}</td>
        <td>
          <a href="#supplierModal" id="supplierEdit" onclick="supplierEdit(${supplier.sId},'$supplier.isDisabled')" data-toggle="modal"
          class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"> </a>
          <a href="javascript:deleteSupplier(${supplier.sId},'$supplier.name')" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true"> </a>
        </td>
      </tr>
      #end

    </tbody>
  </table>
</div>


<form name="formPagination" id="formPagination" action="#springUrl('/supplier/search')" method="POST">
  <input type="hidden" id="currentPage" name="currentPage" value="" />
  <input type="hidden" id="numPerPage" name="numPerPage" value="" />
  <input type="hidden" name="isDisable" value="$supplierSearchForm.isDisable" />
  <input type="hidden" name="column" value="$supplierSearchForm.column" />
  <input type="hidden" name="value" value="$supplierSearchForm.value" />
</form>

#parse("/supplier/view.vm")
